body {
    background-color: aquamarine;
}

#Ueberschrift {
    background-color: plum;
}

#Bianca {
    background-color: deepskyblue;
    text-align: center;
}

#Dirk {
    background-color: deepskyblue;
    text-align: center;
}

#Jessica {
    background-color: deepskyblue;
    text-align: center;
}

#Melina {
    background-color: deepskyblue;
    text-align: center;
}

#Niclas {
    background-color: deepskyblue;
    text-align: center;
}

#Brunhild {
    background-color: deepskyblue;
    text-align: center;
}

#Matthias {
    background-color: deepskyblue;
    text-align: center;
}