body {
    background-image: url("schöneLandschaftWattenmeer.jpg");
}

.jumbotron {
    font-weight: bold;
}

#Ueberschrift {
    background-color: plum;
    margin-top: 25px;
    text-align: -moz-center;
}

#Bianca {
    background-color: deepskyblue;
    text-align: center;
}

#Dirk {
    background-color: deepskyblue;
    text-align: center;
}

#Jessica {
    background-color: deepskyblue;
    text-align: center;
}

#Melina {
    background-color: deepskyblue;
    text-align: center;
}

#Niclas {
    background-color: deepskyblue;
    text-align: center;
}

#Brunhild {
    background-color: deepskyblue;
    text-align: center;
}

#Matthias {
    background-color: deepskyblue;
    text-align: center;
}

#Erik {
    background-color: deepskyblue;
    text-align: center;
}

#BildSchiffers {
    position: absolute;
    top: 50px;
    right: 250px;
}