body {
    background-color: purple;
}

.jumbotron {
    font-weight: bold;
}

#Ueberschrift {
    background-color: plum;
    margin-top: 25px;
    text-align: -moz-center;
}

#Bianca {
    background-color: deepskyblue;
    text-align: center;
}

#Dirk {
    background-color: deepskyblue;
    text-align: center;
}

#Jessica {
    background-color: deepskyblue;
    text-align: center;
}

#Melina {
    background-image: url("Melina.jpeg");
    text-align: center;
}

#Niclas {
    background-color: deepskyblue;
    text-align: center;
}

#Brunhild {
    background-color: deepskyblue;
    text-align: center;
}

#Matthias {
    background-color: deepskyblue;
    text-align: center;
}

#Erik {
    background-color: deepskyblue;
    text-align: center;
}